.hero-img {
    background-image: url("https://images.unsplash.com/photo-1502404679462-d669245fc482?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    height: 33vh;
    background-size: cover;
}

.section-setup {
    height: 33vh;
}

.foot-setup {
    height: 8vh;
}

.foot-img {
    background-image: url("https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bWFwc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
}

.services:hover {
    box-shadow: 0px 0px 50px rgb(38, 38, 181);
}